@charset "UTF-8";
/* 回答はここに書いてね */

.font_size--common {
  font-size: 16px;
}

/* q7-1 -- float での横並び */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.box--float {
  box-sizing: border-box;
  width: 225px;
  float: left;
}

.box--float:last-child {
  float: right;
  margin-left: 50px;
}

/* q7-2 -- tableでの横並び */

.q7-2_table {
  display: table;
  /* 以下のプロパティは、それぞれのセルの枠の間隔を一括で決める
  ものなので今回は不適 */
  /* border-collapse: separate; */
  /* border-spacing: 50px 0; */
}

.q7-2_table__cell {
  display: table-cell;
  width: 225px;
  vertical-align: middle;
}

.q7-2_table__cell:last-of-type {
  padding-left: 50px;
}

/* q7-3 -- inline-blockでの横並び */

.q7-3_inline_block {
  font-size: 0;
}

.q7-3_inline_block__elem {
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 225px;
  vertical-align: middle;
  letter-spacing: normal;
}

.q7-3_inline_block__elem:last-of-type {
  margin-left: 50px;
}

/* q7-4 -- flexでの横並び */

.q7-4_flexbox {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  /* 並びの縦の位置を最後の要素の下端で揃える */
  width: 100%;
}

.q7-4_flexbox__child {
  box-sizing: border-box;
  width: 225px;
}

/* q7-5 -- inline-blockとmarginでの横並び */

.q7-5_inline_block_margin {
  font-size: 0;
}

.q7-5_inline_block_margin__box {
  box-sizing: border-box;
  letter-spacing: normal;
  display: inline-block;
}

.q7-5_inline_block_margin__box--fix_300 {
  width: 300px;
}

.q7-5_inline_block_margin__box--variable {
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
  vertical-align: top;
}
.q7__box__text {
  font-size: 16px;
}

/* 回答はここに書いてね */