@charset "UTF-8";
/* 回答はここに書いてね */

/* q8-1 -- ボタンパーツ */

.q8__btn {
  display: inline-block;
  margin-left: 10px;
}

.q8__btn:first-of-type {
  margin-left: 0;
}

.btn--is_small {
  border-radius: 3px;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  padding: 0 15px;
}

.btn--is_middle {
  border-radius: 5px;
  font-size: 20px;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
}

.btn--is_large {
  border-radius: 7px;
  font-size: 24px;
  height: 38px;
  line-height: 38px;
  padding: 0 25px;
}

.btn--is_common {
  background-color: #00bcd4;
  color: #fff;
}

.btn--is_error {
  background-color: #ff4081;
  color: #fff;
}

.btn--is_disabled {
  background-color: #e5e5e5;
  color: #fff;
}

.btn--is_shadow {
  background-color: #fff;
  color: #222;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .12),
   0 1px 4px rgba(0, 0, 0, .12);
}

/* q8-2 -- フォーム */

.form_exercise {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf1f2;
}

.form_exercise__title {
  position: relative;
  margin-bottom: 20px;
}

.form_exercise__title::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #cbcbcb;
  height: 0;
  width: 100%;
  top: 50%;
}

.form_exercise__title__heading {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ECF1F2;
  font-size: 24px;
  font-weight: bold;
}

.form_exercise__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form_left_blk {
  width: 300px;
}

.form_left_blk__name,
.form_left_blk__gender,
.form_left_blk__from,
.form_left_blk__email,
.form_left_blk__phone_num,
.form_left_blk__is_over_20,
.form_left_blk__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form_left_blk__submit {
  margin-bottom: 0;
}

.form_left_blk__title {
  display: inline-block;
  text-align: right;
  line-height: 25px;
  width: 100px;
}

.form_left_blk__title--required::after {
  content: "*";
  color: #f00;
}

.form_left_blk__content {
  width: 180px;
}

.form_left_blk__is_over_20,
.form_left_blk__submit {
  text-align: right;
}

.form_right_blk {
  width: 380px;
}

.form_exercise_input--init {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form_exercise_input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}

.form_right_blk__textarea {
  resize: none;
  width: 100%;
  height: 203px;
  padding: 10px;
}

.form_left_blk__check_text {
  position: relative;
  display: inline-block;
}

.form_left_blk__check_text::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: -20px;
  background-color: #fff;
  margin-right: 6px;
  margin-top: -1px;
  border: 1px solid #cbcbcb;
  vertical-align: middle;
}

.form_left_blk__check:checked+.form_left_blk__check_text::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 16px;
  top: -6px;
  left: -14px;
  vertical-align: center;
  transform: rotate(45deg);
  border-bottom: 3px solid #00bcd4;
  border-right: 3px solid #00bcd4;
}

.form_left_blk__btn {
  border-radius: 3px;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  padding: 0 15px;
  background-color: #00bcd4;
  color: #fff;
}

.form_left_blk__btn:active {
  background-color: #fff;
  color: #00bcd4;
}

.form_left_blk__radio_label {
  display: inline-block;
  cursor: pointer;
}

.form_left_blk__radio {
  display: none;
}

.form_left_blk__radio_text {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.form_left_blk__radio_text::before {
  content: "";
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.form_left_blk__radio:checked+.form_left_blk__radio_text:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #00BCD4;
  border-radius: 50%;
}

.form_left_blk__check {
  display:none;
}


.form_exercise_input:focus {
  box-shadow: 0 0 7px #00BCD4;
}

.form_left_blk__select_wrapper {
  position: relative;
  width: 100%;
}

.form_left_blk__select_wrapper::after {
  position: absolute;
  display: block;
  right: 10px;
  top: 4px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
  content: "";
}

.form_left_blk__select {
  background: #fff;
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  line-height: 12px;
}

/* 回答はここに書いてね */